<!DOCTYPE html>
<html>
<head>
    <title>About Us - About Us | Cinema - Free Website Template from Templates.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Place your description here" />
    <meta name="keywords" content="put, your, keyword, here" />
    <meta name="author" content="Templates.com - website templates provider" />

    <link href="{{ asset('style.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('js/jquery-1.4.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/cufon-yui.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/cufon-replace.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/Gill_Sans_400.font.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
    <!--[if lt IE 7]>
        <script type="text/javascript" src="{{ asset('js/ie_png.js') }}"></script>
        <script type="text/javascript">
            ie_png.fix('.png, .link1 span, .link1');
        </script>
        <link href="{{ asset('ie6.css') }}" rel="stylesheet" type="text/css" />
        <![endif]-->
</head>
<body>
{% block header%}
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <!-- HEADER -->

            <div id="header">
                <div class="row-1">
                    <div class="fleft"><a href="index.html">Cinema <span>World</span></a></div>
                    <ul>
                        <li><a href="{{ path('cinemafront') }}"><img src="{{ asset('images/icon1.gif') }}" alt="" /></a></li>
                        <li><a href="{{ path('contact') }}"><img src="{{ asset('images/icon2.gif') }}" alt="" /></a></li>
                        <li><a href="{{ path('default') }}"><img src="{{ asset('images/icon3.gif') }}" alt="" /></a></li>
                    </ul>
                </div>
                <div class="row-2" >
                    <ul>
                        <li><a href="{{ path('home_index') }}" style="width:100%">Home</a></li>
                        <li><a href="{{ path('cinemafront') }}" style="width:100%">Cinema</a></li>
                        <li><a href="{{ path('frontarticle') }}" style="width:100%">Articles</a></li>
                        <li><a href="{{ path('frontt') }}" style="width:100%">Projections</a></li>
                        <li><a href="{{ path('produitfront') }}" style="width:100%">Produit</a></li>
                        <li><a href="{{ path('reservation_new1') }}"  style="width:100%">Reservations</a></li>
                        <li><a href="{{ path('front') }}" style="width:100%">Evenements</a></li>
                        <li><a href="{{ path('aa') }}" style="width:100%">Nos Invites</a></li>
                        <li><a href="{{ path('users_connection') }}" style="width:100%">Login</a></li>
                        <li><a href="{{ path('users_new') }}" style="width:100%">Sign UP</a></li>
                    </ul>
                </div>
            </div>
            {% endblock %}
            {% block body %}

            <div class="box">
                <div class="border-right">
                    <div class="border-left">
                        <div class="inner" >
                            <h3>Welcome to <b>Cinema</b> <span>World</span></h3>
                            <p style="margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;background: #F5F5F5; padding: 2px 6px; ">Tuniflix est une plateforme qui regroupe la production audiovisuelle en Tunisie (Film, Court métrage, Séries ..) et fournit un réseau social qui réunit les cinéphiles et les professionnels du métier (Producteurs, Réalisateurs, Acteurs, Techniciens .. </p>
                            <div class="img-box1" ><img src="images/1page-img1.jpg" alt="" /> <div style="margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;background: #F5F5F5; padding: 2px 6px; ">Films, séries TV et bien plus en illimité.
                                    Où que vous soyez. Annulez à tout moment..</div></div>
                            <p style="margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; padding: 2px 6px; "><a href="{{ path('cinemafront') }}">Home</a>, <a href="about-us.html">About us</a>, <a href="articles.html">Articles</a> (with Article page), <a href="{{ path('contact') }}">Contact us</a> , <a href="sitemap.html">Site Map</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
                    <div class="content">
                        <h3>Fresh <span>Movies</span></h3>
                        <ul class="movies">
                            <li>
                                <h4>Toy Story 3</h4><img src="{{ asset("images/1page-img2.jpg" ) }}"alt="" />
                                <p>Check out Disney-Pixar's official Toy Story site, watch the <span>Toy Story 3</span> trailer, and meet new characters. Remember, no toy gets left behind!</p>
                                <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
                            </li>
                            <li>
                                <h4>Prince of Percia: Sands of Time</h4><img src="{{ asset("images/1page-img3.jpg")}}" alt="" />
                                <p>A young fugitive prince and princess must stop a villain who unknowingly threatens to destroy the world with a special dagger.</p>
                                <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
                            </li>
                            <li class="last">
                                <h4>The Twilight Saga: Eclipse</h4><img src="{{ asset("images/1page-img4.jpg" ) }}"alt="" />
                                <p>As a string of mysterious killings grips Bella is forced to choose between her love for vampire Edward and her friendship with werewolf Jacob.</p>
                                <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
                            </li>
                            <li class="clear">&nbsp;</li>
                        </ul>
                    </div>
                </div>
            {%  endblock %}
            <!-- FOOTER -->
            {% block footer %}
                <div id="footer">
                    <div class="left">
                        <div class="right">
                            <div class="inside">Copyright - Type in your name here<br />
                                Website template designed by <a class="new_window" href="http://store.templatemonster.com/?aff=netsib1" target="_blank" rel="nofollow">www.templatemonster.com</a><br />
                                3D Models provided by <a class="new_window" href="http://www.templates.com/product/3d-models/" target="_blank" rel="nofollow">www.templates.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>


</body>

</html>