{% extends 'base.html.twig' %}

{% block title %}ProgrammerFilm index{% endblock %}

{% block body %}
    <h1>ProgrammerFilm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_projection</th>
                <th>Langue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programmer_film in programmer_films %}
            <tr>
                <td>{{ programmer_film.id }}</td>
                <td>{{ programmer_film.dateProjection ? programmer_film.dateProjection|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ programmer_film.langue }}</td>
                <td>
                    <a href="{{ path('programmer_film_show', {'id': programmer_film.id}) }}">show</a>
                    <a href="{{ path('programmer_film_edit', {'id': programmer_film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('programmer_film_new') }}">Create new</a>
{% endblock %}
