{% extends 'front.html.twig' %}

{% block title %}Evenements front{% endblock %}
            {% block content %}

<div id="content">
    <div class="line-hor"></div>


    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <h3><cufon class="cufon cufon-canvas" alt="Nos " style="width: 129px; height: 30px;"><canvas width="155" height="35" style="width: 155px; height: 35px; top: -3px; left: -2px;"></canvas><cufontext>Nos </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Cinemas " style="width: 35px; height: 30px;"><canvas width="62" height="35" style="width: 62px; height: 35px; top: -3px; left: -2px;"></canvas><cufontext>Evenements </cufontext></cufon><b><cufon class="cufon cufon-canvas" alt="." style="width: 94px; height: 30px;"><canvas width="116" height="35" style="width: 116px; height: 35px; top: -3px; left: -2px;"></canvas><cufontext>  </cufontext></cufon></b><cufon class="cufon cufon-canvas" alt=" " style="width: 9px; height: 30px;"><canvas width="35" height="35" style="width: 35px; height: 35px; top: -3px; left: -2px;"></canvas><cufontext> </cufontext></cufon><span><cufon class="cufon cufon-canvas" alt="Disponibles :" style="width: 82px; height: 30px;"><canvas width="102" height="35" style="width: 102px; height: 35px; top: -3px; left: -2px;"></canvas><cufontext>Disponibles</cufontext></cufon></span></h3>
                    <table class="table" style="margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;background: #F5F5F5; padding: 2px 6px; ">
                        <thead class=" text-primary">
                            <th>
                                Nom
                            </th>
                            <th>
                                lieu
                            </th>
                            <th>
                                Places
                            </th>
                            <th>
                                datedebut
                            </th>
                            <th>
                                datefin
                            </th>
                            <th>
                                type
                            </th>
                            <th>
                                description
                            </th>
                            <th>
                                prix
                            </th>
                            </thead>
                            <tbody>
                            {% if workshops is defined %}
                            {% for workshop in workshops %}
                            <tr>
                                <td>{{ workshop.nomevent }}</td>
                                <td>{{ workshop.lieu }}</td>
                                <td>{{ workshop.nbparticipant }}</td>
                                <td>{{ workshop.datedebut|date('Y-m-d') }}</td>
                                <td>{{ workshop.datefin|date('Y-m-d') }}</td>
                                <td>{{ workshop.type }}</td>
                                <td>{{ workshop.description }}</td>
                                <td>{{ workshop.prix }}</td>

                                {% endfor %}
                                {% endif %}
                            </tbody>
                        <br>
                    </table>
                    <br>
                    <br>
                </div>
            </div>
        </div>


    </div>
</div>
            {% endblock %}
