{% extends 'base.html.twig' %}

{% block title %}Gestion Evenements{% endblock %}

                {% block content %}
                    <br>
                    <br>
                    <br>
                    <br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div style="margin-left: 670px;">

                <label class=" text-primary"> Rechercher: </label>
                <input id="myInput" type="text" name="search" placeholder="Search..">
            </div>



            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Table Evenements</h4>
                    <p class="card-category"> Les Evenements:</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                                <thead class=" text-primary">

                                <th>
                                    Nom
                                </th>
                                <th>
                                    lieu
                                </th>
                                <th>
                                    Places
                                </th>
                                <th>
                                    datedebut
                                </th>
                                <th>
                                    datefin
                                </th>
                                <th>
                                    type
                                </th>
                                <th>
                                    description
                                </th>
                                <th>
                                    prix
                                </th>
                                </thead>
                                <tbody id="myTable">
                                {% if workshops is defined %}
                                    {% for workshop in workshops %}
                                        <tr>

                                            <td>{{ workshop.nomevent }}</td>
                                            <td>{{ workshop.lieu }}</td>
                                            <td>{{ workshop.nbparticipant }}</td>
                                            <td>{{ workshop.datedebut|date('Y-m-d') }}</td>
                                            <td>{{ workshop.datefin|date('Y-m-d') }}</td>
                                            <td>{{ workshop.type }}</td>
                                            <td>{{ workshop.description }}</td>
                                            <td>{{ workshop.prix }}</td>
                                            <td>
                                                <form method="post"
                                                      action="{{ path('workshop_delete', {'id': workshop.id}) }}"
                                                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                    <input type="hidden" name="_token"
                                                           value="{{ csrf_token('delete' ~ workshop.id) }}">
                                                    <button class="btn">Delete</button>
                                                </form>
                                            </td>
                                            <td>
                                                <a href="{{ path('workshop_edit', {'id': workshop.id}) }}">edit</a>
                                            </td>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">no records found</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>

                            </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        <a href="{{ path('workshop_new') }}">Create new</a>


                {% endblock %}
