{% extends 'base.html.twig' %}

{% block title %}Cinema index{% endblock %}

{% block content %}
    <div class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Table Cinema</h4>
                <p class="card-category"> Les cinemas:</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                       
                        <th>
                            Nom
                        </th>
                        <th>
                            DateCreation
                        </th>
                        <th>
                            Adresse
                        </th>
                        <th>
                            Email
                        </th>

                        <th>Actions</th>
                        </thead>
                        <tbody>
                        {% for c in cinemas %}
                            <tr>

                                <td>{{ c.nom }}</td>
                                <td>{{ c.dateCreation ? c.dateCreation|date('Y-m-d') : '' }}</td>
                                <td>{{ c.adresse }}</td>
                                <td>{{ c.email }}</td>
                                <td>

                                    <form method="post" action="{{ path('cinema_delete', {'id': c.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}">
                                        <button class="btn">Delete</button>
                                    </form>
                                    <a href="{{ path('cinema_edit', {'id': c.id}) }}">edit</a>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('cinema_new') }}">Create new</a>



                </div>
            </div>
        </div>
    </div>



{% endblock %}