{% extends 'base.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block content %}
    <h1>Promotion</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Datedebut</th>
                <td>{{ promotion.datedebut ? promotion.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ promotion.datefin ? promotion.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ promotion.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ promotion.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('promotion_index') }}">back to list</a>

    <a href="{{ path('promotion_edit', {'id': promotion.id}) }}">edit</a>

    {{ include('promotion/_delete_form.html.twig') }}
{% endblock %}
