<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>

    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/apple-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Tuniflix
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="{{ asset('css/material-dashboard.css?v=2.1.2')}}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{asset('demo/demo.css')}}" rel="stylesheet" />
</head>
<body>
{% block header %}
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="{{asset('img/sidebar-1.jpg')}}">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
                Tuniflix
            </a></div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item  ">
                    <a class="nav-link" href="./dashboard.html">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('users_index') }}">
                        <i class="material-icons">person</i>
                        <p>Gestions Des Utilisateurs </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('cinema_index') }}">
                        <i class="material-icons">content_paste</i>
                        <p>Gestion des cinemas</p>
                    </a>
                </li>
                <li class="nav-item " >
                    <a class="nav-link" href="{{ path('salle_index') }}">
                        <i class="material-icons">library_books</i>
                        <p>Gestion des salles</p>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" href="{{ path('produit_index') }}">
                        <i class="material-icons">content_paste</i>
                        <p>Gestion des Produits</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('stock_index') }}">
                        <i class="material-icons">content_paste</i>
                        <p>Gestion des Stocks</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('article_index') }}">
                        <i class="material-icons">bubble_chart</i>
                        <p>Gestion des Articles</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('projection_index') }}">
                        <i class="material-icons">location_ons</i>
                        <p>Gestion Des Projections</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('invite_index') }}">
                        <i class="material-icons">notifications</i>
                        <p>Gestion Des Invites</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('reservation_index') }}">
                        <i class="material-icons">language</i>
                        <p>Gestion Des Reservations</p>
                    </a>
                </li>



                <li class="nav-item ">
                    <a class="nav-link" href="{{  path('promotion_index') }}">
                        <i class="material-icons">language</i>
                        <p>Gestion Des Promotions</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{  path('workshop_index') }}">
                        <i class="material-icons">language</i>
                        <p>Gestion Des Evenements</p>
                    </a>
                </li>


            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:;"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;">
                                <i class="material-icons">dashboard</i>
                                <p class="d-lg-none d-md-block">
                                    Stats
                                </p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">notifications</i>
                                <span class="notification">5</span>
                                <p class="d-lg-none d-md-block">
                                    Some Actions
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                <a class="dropdown-item" href="#">Another Notification</a>
                                <a class="dropdown-item" href="#">Another One</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">person</i>
                                <p class="d-lg-none d-md-block">
                                    Account
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}


        {% block content %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="margin-left: 670px;">

                                <label class=" text-primary"> Rechercher: </label>
                                <input id="myInput" type="text" name="search" placeholder="Search..">
                            </div>
                            <div class="card">


                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Table Projection</h4>
                                    <p class="card-category"> Les projections:</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">

                                            <th>
                                                Nom
                                            </th>
                                            <th>
                                                Genre
                                            </th>
                                            <th>Age recommandée</th>
                                            <th>Durée</th>
                                            <th>Image</th>
                                            <th>Description</th>
                                            </thead>
                                            <tbody id="myTable">
                                            {% for projection in projections %}
                                                <tr>

                                                    <td>{{ projection.nom }}</td>
                                                    <td>{{ projection.genre }}</td>
                                                    <td>{{ projection.ageRecommande }}</td>
                                                    <td>{{ projection.duree }}</td>
                                                    <td><img src="{{ asset('uploads/images/' ~ projection.image) }}"
                                                        alt="" style="width: 200mm  height:100mm"></td>
                                                    <td>{{ projection.description }}</td>
                                                    <td>
                                                        <form method="post" action="{{ path('projection_delete', {'id': projection.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projection.id) }}">
                                                            <button class="btn">Delete</button>
                                                        </form>

                                                        <a href="{{ path('projection_edit', {'id': projection.id}) }}">edit</a>

                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="6">no records found</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        <a href="{{ path('projection_new') }}">Create new</a>
                                        <br>
                                        <a href="{{ path('frontt') }}">Voir les films</a>
                                        <br>
                                        <a href="{{ path('pfilm') }}">Programmer une projection</a>

                                        </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>

        {% endblock %}

        {% block footer%}
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li>
                                <a href="https://www.creative-tim.com">
                                    Tuniflix
                                </a>
                            </li>
                            <li>
                                <a href="https://creative-tim.com/presentation">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="https://www.creative-tim.com/license">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with <i class="material-icons">favorite</i> by
                        <a href="https://www.creative-tim.com" target="_blank">Tuniflix</a> for a better web.
                    </div>
                </div>
            </footer>

        {% endblock %}
        <script src="{{asset('js/core/jquery.min.js')}}"></script>
        <script src="{{ asset('js/core/popper.min.js')}}"></script>
        <script src="{{ asset('js/core/bootstrap-material-design.min.js')}}"></script>
        <script src="{{ asset('js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
        <!-- Plugin for the momentJs  -->
        <script src="{{ asset('js/plugins/moment.min.js')}}"></script>
        <!--  Plugin for Sweet Alert -->
        <script src="{{ asset('js/plugins/sweetalert2.js') }}"></script>
        <!-- Forms Validations Plugin -->
        <script src="{{asset('js/plugins/jquery.validate.min.js')}}"></script>
        <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
        <script src="{{ asset('js/plugins/jquery.bootstrap-wizard.js')}}"></script>
        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="{{ asset('js/plugins/bootstrap-selectpicker.js')}}"></script>
        <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script src="{{asset('js/plugins/bootstrap-datetimepicker.min.js')}}"></script>
        <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
        <script src="{{asset('js/plugins/jquery.dataTables.min.js')}}"></script>
        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script src="{{asset('js/plugins/bootstrap-tagsinput.js') }}"></script>
        <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
        <script src="{{asset('js/plugins/jasny-bootstrap.min.js')}}"></script>
        <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
        <script src="{{asset('js/plugins/fullcalendar.min.js')}}"></script>
        <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
        <script src="{{asset('js/plugins/jquery-jvectormap.js')}}"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="{{asset('js/plugins/nouislider.min.js')}}"></script>
        <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
        <!-- Library for adding dinamically elements -->
        <script src="{{asset('js/plugins/arrive.min.js')}}"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <!-- Chartist JS -->
        <script src="{{ asset('js/plugins/chartist.min.js')}}"></script>
        <!--  Notifications Plugin    -->
        <script src="{{ asset('js/plugins/bootstrap-notify.js')}}"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="{{asset('js/material-dashboard.js?v=2.1.2')}}" type="text/javascript"></script>
        <!-- Material Dashboard DEMO methods, don't include it in your project! -->
        <script src="{{asset('/demo/demo.js') }}"></script>
                        <script src="//code.jquery.com/jquery.js"></script>
                        <!-- Load Flashy default JavaScript -->
                        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
                        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                        <script>
                            $(document).ready(function(){
                                $("#myInput").on("keyup", function() {
                                    var value = $(this).val().toLowerCase();
                                    $("#myTable tr").filter(function() {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                });
                            });
                        </script>
        <script>
            </body>
            </html>
