
{% block body %}
    <div class="app-content">

    <div class="side-app">



            </div>
            {{ form_start(form)}}
            <div class="card-body">

                <form>
                    <div class="form-group">

                        {{ form_widget(form.quantite , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'quantite'}} ) }}
                        {{ form_errors(form.quantite) }}
                    </div>
                    <div class="form-group">

                        {{ form_widget(form.fournisseur , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'fournisseur'}} ) }}
                        {{ form_errors(form.fournisseur) }}
                    </div>
                    <div class="form-group">

                        {{ form_widget(form.produit , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'NomProduit'}} ) }}
                        {{ form_errors(form.produit) }}
                    </div>


                    <div class="form-group mb-0">
                        <div class="checkbox checkbox-secondary">
                            {{ form_widget(form) }}
                            <button class="btn">{{ button_label|default('Save') }}</button>
                        </div>
                    </div>
                </form>
            </div>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}