{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">



                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Table Users</h4>
                        <p class="card-category"> Les Utilisateurs:</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>

                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>

                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.type }}</td>
                <td>
                    <a href="{{ path('users_show', {'userId': user.userId}) }}">show</a>
                    <a href="{{ path('users_edit', {'userId': user.userId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            {% endblock %}
